
/* ¡¡¡Start refactoring below!!!  */

.poll {
  width: 33%;
  border: 1px solid #15DEA5;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pic {
  width: 100%;
  align-self: center;
}

.opt {
  width: 40%;
  cursor: pointer;
  text-align: center;
  background: #15DEA5;
  padding: 1.5rem;
  margin-top: 0.5rem;
  color: #fff;
}

.opt-pink {
  background: #EA526F;
}







/*
.poll {
  width: 33%;
  border: 1px solid #15DEA5;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.poll__pic {
  width: 100%;
  align-self: center;
}

.poll__opt {
  width: 40%;
  cursor: pointer;
  text-align: center;
  background: #15DEA5;
  padding: 1.5rem;
  margin-top: 0.5rem;
  color: #fff;
}

.poll__opt--pink {
  background: #EA526F;
}
*/
