

div.btn {
  cursor: pointer;
  padding: 1.5rem 2.5rem;
  margin-bottom: 1.5rem;
  background: #15DEA5;
  color: #FFF;
  font-size: 2rem;
}

.btn-pink {
  background: #EA526F;
}









/*

.btn {
  cursor: pointer;
  padding: 1.5rem 2.5rem;
  margin-bottom: 1.5rem;
  background: #15DEA5;
  color: #FFF;
  font-size: 2rem;
}

.btn-pink {
  background: #EA526F;
}
*/
