

.btn {
  padding: 1.5rem;
  background: #15DEA5;
  cursor: pointer;
  border-radius: 100rem;
  font-size: 1.5rem;
  color: #fff;
}






/*

.btn {
  padding: 1.5rem;
  background: #15DEA5;
  cursor: pointer;
  border-radius: 100rem;
  font-size: 1.5rem;
  color: #fff;

  &--pink {
      background-color: #EA526F;
  }

  &--outline {
    background-color: unset;
    border: 1px solid #15DEA5;
    color: #15DEA5;

    &.btn--pink {
        color: #EA526F;
        border-color: #EA526F;
    }
  }

  
}
*/