

/* ¡¡¡Nest with combinators below!!!  */

.root {
  font-size: 1.5rem;
  padding: 2rem;
  background-color: #15DEA5;
  color: #fff;
  text-align: center;
  border-radius: 2rem;
}








/*
.root {
  font-size: 1.5rem;
  padding: 2rem;
  background-color: #15DEA5;
  color: #fff;
  text-align: center;
  border-radius: 2rem;

  ~.general {
      background-color: turquoise;
  }
  
  +.adjacent {
    background-color: tan;
  }

  >.child {
    background-color: tomato;
  }

  .descendant {
      background-color: lightblue;
  }
}


.root {
  &+.adjacent{background-color: red;}
  &>.child{background-color: green;}
  .descendant{background-color: gold;}
  font-size: 1.5rem;
  padding: 2rem;
  background-color: #15DEA5;
  color: #fff;
  text-align: center;
  border-radius: 2rem;
}
*/