

$color-primary: #15DEA5;

.form {
  background: $color-primary;
  width: 100%;
  padding: 1rem 2rem;
  &__heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-style: italic;
    color: #fff
  }
}


/*

$color-primary: tomato;

.form {
  background: $color-primary;
  width: 100%;
  padding: 1rem 2rem;
  &__heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-style: italic;
    color: adjust-hue($color: $color-primary, $degrees: 180);
  }
}
*/
