

$color-primary: #15DEA5;
$color-secondary: #EA526F;
$color-tertiary: #19647E;
$color-accent: #FFF;

$breakpoints: (
  mobile: 599px
);


.article {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  background: $color-tertiary;
  color: $color-accent;
  
  &__image {
    width: 60%;
    height: 40vh;
    background: $color-primary;
    padding: 1rem;

    @media (max-width: 599px) {
        width: 100%;
    }
  }
  &__summary {
    background: $color-secondary;
    flex-grow: 2;
    padding: 1rem;
  }
  &__body {
    width: 100%;
    padding: 1rem;
  }
}













/*
@mixin mobile-only {
  @media screen and (max-width: map-get($breakpoints, mobile)) {
    @content;
  }
}


.article {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  background: $color-tertiary;
  color: $color-accent;
  @include mobile-only {
    width: 100%;
  }
  
  &__image {
    width: 60%;
    height: 40vh;
    background: $color-primary;
    padding: 1rem;

    @include mobile-only {
      width: 100%;
    }
  }
  &__summary {
    background: $color-secondary;
    flex-grow: 2;
    padding: 1rem;
    @include mobile-only {
      font-size: 1.5rem;
    }
  }
  &__body {
    width: 100%;
    padding: 1rem;
  }
}
*/