

/* ¡¡¡Commencez à écrire ci-dessous Start writing your Sassy CSS below!!!  */

.parent {
  font-size: 1.5rem;
  padding: 2rem;
  background-color: #15DEA5;
  color: #fff;
  text-align: center;
  border-radius: 2rem;
}
.parent .child {
  padding: 1rem;
  background-color: #19647E;
  margin-top: 1rem;
  border-radius: 10rem;
}




/*
.parent {
  font-size: 1.5rem;
  padding: 2rem;
  background-color: #15DEA5;
  color: #fff;
  text-align: center;
  border-radius: 2rem;
  
  .child {
    padding: 1rem;
    background-color: #19647E;
    margin-top: 1rem;
    border-radius: 10rem;
  }
}
*/