

$color-primary: #15DEA5;
$color-secondary: #EA526F;

// Create a .heading-typography selector 
// and give it some typographic properties, 
// such as font-size, font-style, color, etc.
 // Use nesting and the ampersand to create 
// heading elements for the .form and .proj-prev blocks
// Use the @extend keyword  to extend the 
// new .form__heading and .proj-prev__heading elements 
// to .heading-typography.


.form {
  background: $color-primary;
  width: 100%;
  padding: 1rem 2rem;
}

.proj-prev {
  background: $color-secondary;
  width: 100%;
  padding: 1rem 2rem;
}










/*
.heading-typography {
    font-size: 20px;
    text-transform: uppercase;
    color: #FFF;
}

.form {
  background: $color-primary;
  width: 100%;
  padding: 1rem 2rem;

  &__heading {
      @extend .heading-typography;
  }
}

.proj-prev {
  background: $color-secondary;
  width: 100%;
  padding: 1rem 2rem;

  &__heading {
      @extend .heading-typography;
  }
}











.form,.proj-prev{
  &__heading{
    @extend .heading-typography;
  }
}
*/