

$color-primary: #15DEA5;
$color-secondary: #EA526F;
$color-tertiary: #19647E;
$color-accent: #FFF;


.btn {
  cursor: pointer;
  padding: 1.5rem 3rem;
  border-radius: 10rem;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-style: italic;
  color: $color-accent;
  background: $color-primary;
  &--pink {
    background: $color-secondary;
  }
  &--blue {
    background: $color-tertiary;
  }
}















/*
$btn-mods: (
    pink: $color-secondary,
    blue: $color-tertiary
);

.btn {
  cursor: pointer;
  padding: 1.5rem 3rem;
  border-radius: 10rem;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-style: italic;
  color: $color-accent;
  background: $color-primary;
  &--pink {
    background: map-get($map: $btn-mods, $key: pink);
  }
  &--blue {
    background: map-get($map: $btn-mods, $key: blue);
  }
}
*/