

.btn {
  padding: 1.5rem;
  background: #15DEA5;
  cursor: pointer;
  border-radius: 100rem;
  font-size: 1.5rem;
  color: #fff;
  &--pink {
    background: #EA526F;
  }
  &--outline {
    background: transparent;
    border: 2px solid #15DEA5;
    color: #15DEA5;
    &.btn--pink {
      border: 2px solid #EA526F;
      color: #EA526F;
    }
  }
}





/*
$color-primary: #15DEA5;
$color-secondary: #EA526F;
.btn {
  padding: 1.5rem;
  background: $color-primary;
  cursor: pointer;
  border-radius: 100rem;
  font-size: 1.5rem;
  color: #fff;
  &--pink {
    background: $color-secondary;
  }
  &--outline {
    background: transparent;
    border: 2px solid $color-primary;
    color: $color-primary;
    &.btn--pink {
      border: 2px solid $color-secondary;
      color: $color-secondary;
    }
  }
}
*/